body {
    background-color: gray;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2.9% 3.5%;
    background-color: #ffffff;
    
  }
.navbar {
    margin-right: auto;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
    font-weight: bold;
  }
.navbar {
    align-items: baseline;
    transition: all 0.3s ease 0s;
}

.navbar {
    list-style: none;
    display: flex;
}
  
.navbar li {
    padding: 0px 20px;
}
  
.navbar li a {
    transition: all 0.3s ease 0s;
}
  
.navbar li a:hover {
    color: #0088a9;
}
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5% 5%;
    background-color: #ffffff;
    
}
.logo {
    align-items: baseline;
    transition: all 0.3s ease 0s;
}
.logo {
    padding: 1.5%;
    max-width: 20%;
    height: auto;
    margin-right: auto;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}
.liens {
    color: #000000;
    text-decoration: none;
    margin-left: 6%;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.liens li {
    padding: 0px 2%;
  }
  
  .liens {
    transition: all 0.3s ease 0s;
  }
  
  .liens:hover {
    color: #121290;
  }

  .liens a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }